<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ionic QR Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input type="text" placeholder="MY QR Code data" [(ngModel)]="qrData">
    </ion-input>
  </ion-item>

  <ngx-qrcode [elementType]="elementType" [value]="qrData" qrc-class="my-code">
  </ngx-qrcode>
  <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event)">

  <ion-button expand="full" (click)="captureImage()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Capture Image
  </ion-button>

  <ion-button expand="full" (click)="startScan()">
    <ion-icon slot="start" name="qr-code"></ion-icon>
    Start Scan
  </ion-button>

  <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Reset
  </ion-button>

  <video #video [hidden]="!scanActive" width="100%"></video>
  <canvas #canvas hidden></canvas>

  <ion-button expand="full" (click)="stopScan()" color="warning" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    Stop Scan
  </ion-button>

<ion-card *ngIf="scanResult">
  <ion-card-header>
    <ion-card-title>QR Code</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{ scanResult }}
  </ion-card-content>
</ion-card>
</ion-content>
